body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}


.hero {
    background-image: url('imagen.png'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh; /* La sección ocupará toda la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}