body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}


.hero {
    background-image: url('imagen.png'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh; /* La sección ocupará toda la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.content {
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad del texto */
    padding: 20px;
    border-radius: 10px;
    max-width: 80%; /* Limita el ancho máximo del contenido */
    box-sizing: border-box;
}